* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 400px;
}

.landing-page-hero {
    background-color: #1F2937;
    padding: 2% 8%;
}

div.navbar {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    align-items: center;
}

div.nav-logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

div.navbar div.nav-links ul {
    display: flex;
    list-style: none;
    gap: 13px;
    font-size: 18px;
}


/* hero section */

div.hero-section-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 40px;
    gap: 30px;
    padding: 5% 0;
}

div.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10%;
}

div.hero-text h2 {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

div.hero-text p, button.signup-btn  {
    font-size: 18px;
    color: #E5E7EB;
}

div.hero-text button.signup-btn {
    width: 50%;
    padding: 2% 5%;
    background: #3882F6;
    border: none;
    border-radius: 5px;
}

div.hero-img {
    width: 600px;
}

div.hero-img img {
    width: 100%;
    height: 200px;
}


/* information */

div.information-section {
    text-align: center;
    padding: 5% 8%;
}

div.information-section h2 {
    padding: 3% 0;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

div.information-content {
    display: flex;
    text-align: center;
    gap: 15px;
}

div.information-content div.information-box img {
    width: 100%;
    border-radius: 6px;
}